form {
  border: 3px solid rgb(211, 97, 16);
  padding: 5px;
  margin: 189px 20px;
  width: 32%;
}

body {
  background-image: url(../images/index.jpeg);
}

button {
  color: darkblue;
  background-color: rgb(211, 97, 16);
  width: 35px;
}

h1 {
  font-size: 30px;
  font-family: Impact;
}

input[type="text"],
input[type="password"] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
